/* style.module.css */

/* .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh; 
  } */
  
  /* .window{
    position: relative;
    text-align: center;
    justify-content: center; */
    /* width: 90%;
    height: 300px; */
    /* border: 1px solid #afaeae;
    border-radius: 8px;
    overflow: hidden;
    min-width: 10%;
    min-height: 10%;
    margin:5%;
    box-shadow: #afaeae;
   
    } */











    
    /* .pane {
      
      border: 2px solid #ddd;
      resize: both;
      overflow: auto;
      min-width: 10%;
      min-height: 30%;
      
      width: var(--width);
      height: var(--height);
      
      }

      .titleBar{
      display:flex;
      justify-content: flex-end;
      padding: 8px;
      background-color: #ffffff;
      border-bottom: 1px solid #ccc;
      margin-right: 10px;
      }

      .upwardArrow,
      .closeButton{
      background-color: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      font-size: 16px;
      }

      .upwardArrow:hover,
      .closeButton:hover{
      color:#555;
      }
      
      .content{
      padding: 12px;
      }
   
   */











   
    /* .pane {
      
      border: 2px solid #ddd;
      resize: both;
      overflow: auto;
      min-width: 10%;
      min-height: 30%;
      margin:10px;
      width: var(--width);
      height: var(--height);
      
      }

      .titleBar{
      display:flex;
      justify-content: flex-end;
      padding: 8px;
      background-color: #f0f0f0;
      }

      .upwardArrow,
      .closeButton{
      background-color: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      font-size: 16px;
      }

      .upwardArrow:hover,
      .closeButton:hover{
        background-color: #8d8d8d;
      color:rgb(8, 0, 0);
      }
      
      .content{
      padding: 12px;
      }
    */
  




   



    .fullBox{
      height: var(--height);
      width: var(--width);
      background-color: white;
      /* resize: both; */
      /* overflow: auto; */
      min-width: 10%;
      min-height: 10%;
      margin: 10px;
      border: 2px solid black;
    
  }
  .fullBox1{
      height: 5%;
      width: var(--width);
      background-color: rgb(226, 212, 212);
      /* resize: both;
      overflow: auto; */
      min-width: 10%;
      min-height: 4%;
      margin: 10px;
      border: 2px solid black;
  }
  
  .content {
      padding: 12px;
      width: 100%;
      height: 100%;
    }
  .heading{
      background-color: rgb(226, 212, 212);
      display: flex;
      justify-content: flex-end;  
  }

  .heading:hover {
    cursor: grabbing; /* Change the cursor to grabbing when hovered */
  }
  
  .arrowButton{
      background-color: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      font-size: 16px;
      margin: 2px;
  }
  .closeButton{
      background-color: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      font-size: 16px;
      margin: 2px;
  }